uwsgi==2.0.17
Flask==1.0.3
Flask-Bootstrap4==4.0.2
Flask-WTF==0.14.3
WTForms==2.2.1
Flask-Mail==0.9.1 
mysqlclient==1.4.6
numpy==1.18.4
scipy==1.4.1
scikit-image==0.17.2 
pillow==8.1.1
opencv-contrib-python==4.2.0.32 
chainer==7.4.0
torch==1.5.0
#torchvision==0.6.0
#boto3==1.13.19
#pandas==1.0.4

