{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<br>
<div class="container">
	<div class="page-header">
		<h1>About</h1>
	</div>
    <table>
        <tr>
            <td width="170" height="170"><img src="./static/icon_circle.png" alt="icon" width="100%" height="100%"></td>
            <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
            <td>
                <h2>opeco17</h2>
                <hr width="350" size="30" align="left">
                <p style="font-size: 15pt;">Occupation: Graduate Student</p>
                <p style="font-size: 15pt;">Field: Machine Learning</p>
                <p style="font-size: 15pt;">Link: 
                    <a href="https://github.com/opeco17" style="font-size: 15pt;">GitHub</a> 
                    <a href="https://qiita.com/opeco17" style="font-size: 15pt;">Qiita</a> 
                    <a href="https://www.pixiv.net/users/44422398" style="font-size: 15pt;">pixiv</a>
                </p>    
                <br><br><br><br>
            </td>
        </tr>
    </table>
</div>
{% endblock %}