{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<br>
<div class="container">
	<div class="page-header">
		<h1>Contact</h1>
    </div>
    <div>
        <div class="flash" style="background-color: #FBB0B0; padding: 10px; width: 400px;">
            {% for message in form.name.errors %}
            <div class="flash">{{ message }}</div>
            {% endfor %}
            
            {% for message in form.email.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            
            {% for message in form.subject.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            
            {% for message in form.message.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
        </div>
        <div class="form">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
</div>
{% endblock %}