<html>
    <head>
        <title>イラスト自動生成AI</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    </head>
    <body>
        <div class="container">
            <h3 class="bg-primary container">イラスト自動生成AI</h3>
            <h5>あなた好みのオリジナルイラストを生成します</h5>
            <div class="well">
                <form action="" method="POST" class="form-inline">
                    <label for="select">あなたの好きな髪色を選んでください</label>
                    <select id="select" name="select" class="form-control">
                        {% for hair_color in hair_colors %}
                        <option>{{ hair_color }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-primary">送信する</button>
                </form>
            </div>
        </div>
    </body>
</html>